.login {
    margin-top: 35vh;
    padding: 20px 0;
    width: 50vw;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #f6f6f6;
    text-align: center;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.tab-content {
    margin: 100px;
}
